* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

body { font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #f4f4f4;}

header { background: #808166;
    color: #fff;
    padding: 20px 0;}

header h1 { text-align: center;
    margin-bottom: 10px;}

.presentation-section h2{ text-align: center;}

nav ul {
    text-align: center;}

nav ul li { display: inline;
    margin: 0 15px;}

nav ul li a { color: #fff;
    text-decoration: none;
    border-radius: 8px; /* Arrondit les coins du bloc */
    padding: 8px 15px; /* Espace interne pour l’effet de bloc */
    font-size: 1.2em;}

    nav ul li a:hover {
        color: #ffffff; /* Couleur au survol */
        background-color: #3c3b3b; /* Couleur de fond au survol */
      }

.container {width: 80%;
    margin: auto;
    overflow: hidden;}

.container p{text-align: center;}

.intro-veille-section{
display: flex;
align-items: center;
padding: 20px;
}
.video {
    flex: 1; /* Prend 50% de l'espace disponible */
}
.video video{
    width: 80%; /* La vidéo prend 100% de la largeur de son conteneur */
    height: auto; /* Maintient le ratio de la vidéo */
}
.texte{
    flex: 1; /* Prend 50% de l'espace disponible */
}
.container-contact{text-align: center;}

.container-foot{text-align: center;}

section {
    padding: 50px 0;
}

h2 h1{
    text-align: center;
    margin-bottom: 30px;
}



footer {
    background: #808166;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #007bff; /* Couleur par défaut des liens */
    text-decoration: none; /* Pas de soulignement */
}

footer a:visited {
    color: inherit; /* Pas de couleur pour les liens déjà visités */
}

footer a:hover {
    text-decoration: none; /* Surlignage lors du survol */
    color: #8d5a97; /* Changement de couleur au survol */
}
/* Présentation section */
.presentation-section {
    background-color: #f4f4f9;
}

.presentation-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.presentation-section p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
   
}


/* bouton téléchargement*/
.bouton-envoi {
    background-color: #e2dcdc;
    display: flex;
    justify-content: center;
}
.download-button button {
    background-color: #87855c; /* Couleur verte */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* bouton téléchargement survol*/
.download-button button:hover {
    background-color: #45a049; /* Couleur plus foncée au survol */
}
/* CV section*/
.cv-section {
    text-align: center;
    margin-top: 20px; /* Ajuste la marge selon tes besoins */
}
/* Augmenter la taille des champs de texte */
input[type="text"],
input[type="email"],

textarea {
    width: 100%; /* Le champ prend toute la largeur de son parent */
    padding: 15px; /* Plus d'espace à l'intérieur du champ */
    font-size: 18px; /* Agrandir la taille du texte */
    border: 2px solid #ccc; /* Bordure plus visible */
    border-radius: 5px; /* Bordures arrondies */
    box-sizing: border-box; /* Assure que la largeur prend en compte le padding */
    margin-bottom: 20px; /* Espacement en bas de chaque champ */
}

.texte-video{
    display: flex;
    text-align: right;
}

/* Augmenter la hauteur de la zone de texte (textarea) */
textarea {
    height: 150px; /* Augmenter la hauteur du champ textarea */
    resize: none; /* Désactiver la possibilité de redimensionner manuellement */
}


/* Agrandir le bouton d'envoi */
input[type="submit"] {
    padding: 15px 30px; /* Agrandir le bouton */
    font-size: 18px; /* Agrandir le texte du bouton */
    background-color: #87855c;
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Couleur au survol */
}
/* section contact*/
.contact-section a {
    color: #5b5e87; /* Couleur par défaut des liens */
    text-decoration: none; /* Pas de soulignement */
}
/* section contact apres visite*/
.contact-section a:visited {
    color: inherit; /* Pas de couleur pour les liens déjà visités */
}
/* section contact au survol*/
.contact-section a:hover {
    text-decoration: none; /* Pas de soulignement lors du survol */
    color: #764186; /* Changement de couleur au survol */
}
.contact-section {background-color: #e2dcdc;}

.section-fin p{
    color: #161616;
}