* { margin: 0;
    padding: 0;
    box-sizing: border-box;}

body { font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #f4f4f4;}

header { background: #808166;
    color: #fff;
    padding: 20px 0;}

header h1 { text-align: center;
    margin-bottom: 10px;}

.presentation-section h2{ text-align: center;}

nav ul {
    text-align: center;}

nav ul li { display: inline;
    margin: 0 15px;}

nav ul li a { color: #fff;
    text-decoration: none;
    border-radius: 8px; /* Arrondit les coins du bloc */
    padding: 8px 15px; /* Espace interne pour l’effet de bloc */
    font-size: 1.2em;}

    nav ul li a:hover {
        color: #ffffff; /* Couleur au survol */
        background-color: #3c3b3b; /* Couleur de fond au survol */
      }

.conteneur-Stages {width: 80%;
    margin: auto;
    overflow: hidden;}
.intro-stage{
    text-align: center;
}
.Titre_stage h1 {text-align: center;}
.stage-presentation {
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    gap: 100px; /* Espace entre l'image et le texte */
   
    margin: 0 auto; /* Centre la section dans la page */
    width: fit-content; /* Ajuste la largeur à son contenu */
}

.stage-presentation img {
    width: 150px; /* Redimensionne l'image si besoin */
    height: auto;
}
.conteneur-Stages p{text-align: center;}

.container-contact{text-align: center;}

.container-foot{text-align: center;}

section {
    padding: 50px 0;
}

h2 h1{
    text-align: center;
    margin-bottom: 30px;
}



footer {
    background: #808166;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #007bff; /* Couleur par défaut des liens */
    text-decoration: none; /* Pas de soulignement */
}

footer a:visited {
    color: inherit; /* Pas de couleur pour les liens déjà visités */
}

footer a:hover {
    text-decoration: none; /* Surlignage lors du survol */
    color: #8d5a97; /* Changement de couleur au survol */
}
/* Présentation section */
.presentation-section {
    background-color: #f4f4f9;
}

.presentation-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.presentation-section p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
   
}


/* section contact*/
.contact-section a {
    color: #5b5e87; /* Couleur par défaut des liens */
    text-decoration: none; /* Pas de soulignement */
}
/* section contact apres visite*/
.contact-section a:visited {
    color: inherit; /* Pas de couleur pour les liens déjà visités */
}
/* section contact au survol*/
.contact-section a:hover {
    text-decoration: none; /* Pas de soulignement lors du survol */
    color: #764186; /* Changement de couleur au survol */
}
.contact-section {background-color: #e2dcdc;}

.section-fin p{
    color: #161616;
}